<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><%= link_to @post.blogger.name, blogger_path(@post.blogger) %></p>
<p><%= link_to @post.destination.name, destination_path(@post.destination) %></p>
<h3>Likes:</h3>
<%= @post.likes %>
<%= button_to 'likes', like_post_path(@post), method: :patch %>


