<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><%= link_to @post.blogger.name, blogger_path(@post.blogger) %></p>
<p><%= link_to @post.destination.name, destination_path(@post.destination) %></p>

<%= button_to('likes', post_path(@post), method: :like)%>


